@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@font-face {
  font-family: "arial-brian";
  src: url("../assets/arial-brian.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "arial-brian";
  line-height: 1.5;
  font-size: 18px;
  background-color: #151515;
  color: #fff;
  margin: 0;
  padding: 0;
}

/**generales**/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.focus-color {
  background: linear-gradient(90deg, rgb(236, 136, 2) 48%, rgb(127, 194, 236) 48%);
  -webkit-background-clip: text;
  color: transparent;
}

/* Estilos generales */
header {
  width: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
header img, header svg {
  vertical-align: initial !important;
}
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
}

.menu {
  display: none;
}

.main-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-text h1 {
  font-size: 5rem;
  margin-right: -3px;
}

.main-text h3 {
  font-size: 2.5rem;
  margin-right: -3px;
}

nav {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.logo .logo-focus {
  width: 100px;
  background: transparent;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 0 1.5rem;
  transition: opacity 0.3s;
  font-size: 20px;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

nav:hover ul li:not(:hover) {
  opacity: 0.7;
}

ul a {
  color: white;
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
}
ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: linear-gradient(263deg, rgba(97, 124, 157, 0.83) 18.16%, #617C9D 43.48%, #B6833F 54.9%, rgba(236, 136, 2, 0.82) 81.27%);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: 0.3s ease-in;
}
ul a:hover:after {
  transform: scale(1);
  transform-origin: bottom left;
}

/*sections*/
.section-contenidos {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para las secciones */
#seccion1 {
  margin-bottom: 3vh;
  height: 45vh;
}

#seccion2, #seccion3 {
  margin-bottom: 3vh;
  height: 2vh;
  background: transparent;
}

section h2 {
  color: #fff;
}
section h2 p {
  color: #fff;
}
section h2 ul {
  color: #fff;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/****/
.container {
  position: relative;
  width: 350px;
  max-width: 350px;
  height: 450px;
  transition: 200ms;
}

.container:active {
  width: 348px;
  height: 448px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  border-radius: 20px;
  background: linear-gradient(238deg, #617C9D 0%, #617C9D 17.14%, #617C9D 32%, rgba(30, 39, 49, 0.38) 43.35%, rgba(0, 0, 0, 0.1) 52.57%, rgba(236, 136, 2, 0.82) 70.99%, rgba(236, 136, 2, 0.82) 82.62%);
}

.subtitle {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}

.title {
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 300ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 15%;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 60%;
  color: rgb(255, 255, 255);
}

.promt-log {
  display: flex;
  align-items: center;
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5" "tr-6 tr-7 tr-8 tr-9 tr-10" "tr-11 tr-12 tr-13 tr-14 tr-15" "tr-16 tr-17 tr-18 tr-19 tr-20" "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: "";
  background: linear-gradient(238deg, #617C9D 0%, #617C9D 17.14%, #617C9D 32%, rgba(30, 39, 49, 0.38) 43.35%, rgba(0, 0, 0, 0.1) 52.57%, rgba(236, 136, 2, 0.82) 70.99%, rgba(236, 136, 2, 0.82) 82.62%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 50ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  						supported by Chrome, Edge, Opera and Firefox */
}

.section-mision {
  width: 100%;
}

.mision-title {
  background-image: url("../assets/img/components-imgs/rectangle-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.mision-title h2 {
  font-size: 1.5625rem;
  padding-left: 2.3125rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.mision-title h2 strong {
  font-weight: 400;
  font-size: 1.8125rem;
}
.mision-title h2 span {
  font-size: 3.125rem;
  font-weight: bolder;
  font-family: "arial-brian";
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

textarea {
  height: 320px;
  width: 100%;
  resize: none;
}

#heading {
  text-align: center;
  margin: 2em;
  color: white;
  font-size: 2.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: white;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  color: white;
}

.button1:hover {
  background: linear-gradient(51deg, rgb(127, 194, 236) 56%, rgb(236, 136, 2) 100%);
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  color: white;
}

.button2:hover {
  background: linear-gradient(51deg, rgb(127, 194, 236) 56%, rgb(236, 136, 2) 100%);
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  color: white;
}

.button3:hover {
  background-image: linear-gradient(163deg, rgba(160, 0, 0, 0.9803921569) 0%, #d10050 100%);
  color: rgb(255, 255, 255);
}

.card {
  background: linear-gradient(65deg, rgb(236, 136, 2) 0%, rgb(127, 194, 236) 100%);
  border-radius: 22px;
  transition: all 0.3s;
  max-width: 50vw;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

/* Estilos para el formulario de contacto */
form {
  display: grid;
  gap: 10px;
}

label {
  color: #7FC2EC;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #151515;
}

button {
  background-color: #EC8802;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/**Estilos generales*/
/* Estilos para el footer */
footer {
  background: linear-gradient(90deg, rgb(236, 134, 2) 5%, rgb(127, 194, 236) 95%);
  color: #fff;
  text-align: center;
}

/*HEADER*/
@media screen and (min-width: 360px) {
  .separador-barra {
    display: none;
  }
  .cards-container {
    gap: 2em;
    width: 90vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .menu {
    display: block;
    position: fixed;
    width: 3rem;
    top: 2rem;
    right: 1.5rem;
    z-index: 999;
    cursor: pointer;
  }
  .bar,
  .bar::before,
  .bar::after {
    position: absolute;
    background-color: whitesmoke;
    margin: auto;
    width: 100%;
    height: 3px;
    content: "";
    top: 50%;
    left: 0;
    transition: all 0.4s;
  }
  .bar {
    margin-top: -2px;
  }
  .bar::before {
    top: -1.2rem;
  }
  .bar::after {
    top: 1.2rem;
  }
  .bar::before,
  .bar::after {
    transform: rotate(0deg);
  }
  .active .bar {
    background-color: transparent;
  }
  .active .bar::before {
    transform: rotate(45deg);
  }
  .active .bar::after {
    transform: rotate(-45deg);
  }
  .active .bar::before,
  .active .bar::after {
    top: 0;
  }
  nav {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.834);
    position: fixed;
    transform: translateX(-30rem);
    z-index: 998;
    line-height: 1;
    font-size: 2.5rem;
    transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  }
  .menu-open nav {
    transform: translateX(0);
  }
  nav ul {
    width: 100%;
    text-align: center;
    padding-top: 10rem;
    padding-left: 0;
  }
  nav ul li {
    display: block;
    padding: 2rem 1rem;
  }
  .main-text h1 {
    font-size: 2.5rem;
  }
  .main-text h3 {
    font-size: 1.5rem;
  }
  .main {
    padding-top: 30vh;
  }
}
@media screen and (max-width: 360px) {
  .noselect {
    width: 100%;
  }
}
/*FORMS*/
@media only screen and (max-width: 600px) {
  .card {
    max-width: 100vw;
  }
  .card #heading {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=style.css.map */