* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: #151515;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos generales */
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

/****/
.container {
  position: relative;
  width: 350px;
  max-width: 350px;
  height: 450px;
  transition: 200ms;
}

.container:active {
  width: 348px;
  height: 448px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
}

.subtitle {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}

.title {
  opacity: 0;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 300ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 15%;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 60%;
  color: rgb(255, 255, 255);
}

.promt-log {
  display: flex;
  align-items: center;
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5" "tr-6 tr-7 tr-8 tr-9 tr-10" "tr-11 tr-12 tr-13 tr-14 tr-15" "tr-16 tr-17 tr-18 tr-19 tr-20" "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: "";
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 50ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  						supported by Chrome, Edge, Opera and Firefox */
}

header .color-offcanva {
  background: #151515;
}
header .logo-offcanvas {
  width: 80px;
  background: #151515;
}
header .navbar-brand {
  margin: 0;
}
header .logo-focus {
  width: 100px;
  background: transparent;
  margin: 0;
  padding: 0;
}
header .separador-barra {
  width: 100px;
}
header .navbar-nav a {
  font-size: 24px;
  background: linear-gradient(65deg, rgb(236, 136, 2) 0%, rgb(127, 194, 236) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
header .navbar-nav a:hover {
  background: linear-gradient(51deg, rgb(127, 194, 236) 56%, rgb(236, 136, 2) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 360px) {
  .separador-barra {
    display: none;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

textarea {
  height: 320px;
  width: 100%;
  resize: none;
}

#heading {
  text-align: center;
  margin: 2em;
  color: white;
  font-size: 2.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: white;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  color: white;
}

.button1:hover {
  background: linear-gradient(51deg, rgb(127, 194, 236) 56%, rgb(236, 136, 2) 100%);
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  color: white;
}

.button2:hover {
  background: linear-gradient(51deg, rgb(127, 194, 236) 56%, rgb(236, 136, 2) 100%);
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(to right bottom, #7fc2ec, #729cc1, #627895, #4e576b, #373944, #393546, #3e3146, #452b43, #7b3554, #b14152, #da5c3c, #ec8802);
  color: white;
}

.button3:hover {
  background-image: linear-gradient(163deg, rgba(160, 0, 0, 0.9803921569) 0%, #d10050 100%);
  color: rgb(255, 255, 255);
}

.card {
  background: linear-gradient(65deg, rgb(236, 136, 2) 0%, rgb(127, 194, 236) 100%);
  border-radius: 22px;
  transition: all 0.3s;
  max-width: 50vw;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.focus-color {
  background: linear-gradient(90deg, rgb(236, 136, 2) 48%, rgb(127, 194, 236) 48%);
  -webkit-background-clip: text;
  color: transparent;
}

/* Estilos para las secciones */
section {
  padding: 50px;
  margin-bottom: 20px;
}

#seccion1 {
  margin-bottom: 3vh;
  height: 45vh;
}

#seccion2, #seccion3 {
  margin-bottom: 3vh;
  height: 2vh;
  background: transparent;
}

section h2 {
  color: #fff;
}
section h2 p {
  color: #fff;
}
section h2 ul {
  color: #fff;
}

/* Estilos para el formulario de contacto */
form {
  display: grid;
  gap: 10px;
}

label {
  color: #7FC2EC;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #151515;
}

button {
  background-color: #EC8802;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Estilos para el footer */
footer {
  background: linear-gradient(90deg, rgb(236, 134, 2) 5%, rgb(127, 194, 236) 95%);
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=style.css.map */