/*HEADER*/
@media screen and (min-width: 360px) {
    .separador-barra{
       display: none;
      }
      .cards-container{
        gap: 2em;
        width:90vw;
        margin: 0 auto;
      }
    
  }
  @media screen and (max-width: 768px){
    .logo{
      display: none;
    }
    .menu{
      display: block;
      position: fixed;
      width: 3rem;      
      top: 2rem;
      right: 1.5rem;
      z-index: 999;
      cursor: pointer;
    }
    .bar,
    .bar::before,
    .bar::after{
      position: absolute;
      background-color: whitesmoke;
      margin: auto;
      width: 100%;
      height: 3px;
      content: "";
      top: 50%;
      left: 0;
      transition: all .4s;
    }
    .bar{
      margin-top: -2px;
    }
    .bar::before{
      top: -1.2rem;
    }
    .bar::after{
      top: 1.2rem;
    }
    .bar::before,
    .bar::after{
      transform: rotate(0deg);
    }
    .active .bar{
      background-color: transparent;
    }
    .active .bar::before{
      transform: rotate(45deg);
    }
    .active .bar::after{
      transform: rotate(-45deg);
    }
    .active .bar::before,
    .active .bar::after{
     top: 0;
    }
    nav{
      // width: 25rem;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.834);
    
      position: fixed;
      transform: translateX(-30rem);
      z-index: 998;
      line-height: 1;
      font-size: 2.5rem;
      transition: transform .6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    }
    .menu-open nav{
      transform: translateX(0);
    }
    nav ul{
      width: 100%;
      text-align: center;
      padding-top: 10rem;
      padding-left: 0;
    }
    nav ul li{
      display: block;
      padding: 2rem 1rem;
    }
    .main-text h1{
      font-size: 2.5rem;
    }
    .main-text h3{
      font-size: 1.5rem;
    }

    .main{
      padding-top: 30vh;
    }
  }





  @media screen and (max-width: 360px){

    .noselect{
      width: 100%;     
      
    }
  }


/*FORMS*/
@media only screen and (max-width: 600px) {
    .card{
      max-width: 100vw;
      #heading {      
        font-size: 1.2em;
      }
    }

    
  }


