
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "arial-brian";
    line-height: 1.5;
    font-size: 18px;
    background-color: $color-fondo;
    color: $texto-blanco;
 
    margin: 0;
    padding: 0;
}
/**generales**/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.focus-color{
    background: $focus-color;
    -webkit-background-clip: text;
    color: transparent;  
}