.section-contenidos{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para las secciones */
// section {
//     padding: 5vw;    
//      margin-bottom: 20px;
// }
#seccion1{
    margin-bottom: 3vh;
    height: 45vh;
 
}
#seccion2, #seccion3{
    margin-bottom: 3vh;
    height: 2vh;
    background: transparent; 
}

section h2 {
    color: $texto-blanco;
    p {
        color: $texto-blanco;
    }
    ul {
        color: $texto-blanco;
    }
    
}